* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkslategray;
    padding: 10px;
}
nav a {
    color:white;
    display: block;
    padding: 20px;
}
h1 {
    color:darkslategray;
}
main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid darkslategray;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}
main{
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: darkslategray;
    color: #FFF9EC;
    text-align:center;
}
aside img{
    width: 250px;
    height: auto;
    margin: 1rem
}
p{ padding: 0;}
footer{
    margin-top: 15px;
    border-top: 1px solid darkslategray;
    text-align: center;
}
/* Class Selecotrs */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 85px;
}