* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkslategray;
    padding: 10px;
}
nav a {
    display: block;
    padding: 20px;
}
h1 {
    color:darkslategray;
    border-bottom: 1px solid darkslategray;
}
main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid darkslategray;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: darkslategray;
    color: #FFF9EC;
    text-align:center;
}
aside img{
    width: 250px;
    height: auto;
    margin: 1rem
}
p{ padding: 0;}
footer{
    margin-top: 15px;
    border-top: 1px solid darkslategray;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 85px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: darkslategray;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    display: grid;
    align-items: center;
    grid-column: 2/3;
    margin: 1rem;
}
